//breakpoints
$sm: 320px;
$tb: 768px;
$ds: 1170px;

// colors
$black: black;
$white: white;
$red: red;
$green: green;

$basicblue: #23006C;
$basicblue1: #5100FA;
$basicOrange: #FF6B00;
$basicdecor: #0cddc8;
